
#about-page {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

@media only screen and (max-width: 900px) {
    #about-page {

        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-columns: 1fr;
    }
}


#about-bg {
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    object-fit: cover;
}

#portrait-img {
    height: auto;
    width: min(70%, 500px);
    
    z-index: 2;
    object-fit: contain;

}